@CHARSET "UTF-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table {
	border-collapse: collapse;
}
tr{
	line-height: 30px;
}
table,td,th {
	border: 1px solid black;
	
}

.divpadding {
	padding: 10px 10px 10px 10px;
}