<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="config/AccountMapper.xml" />
		<mapper resource="config/DepartmentMapper.xml" />
		<mapper resource="config/PositionMapper.xml" />
		<mapper resource="config/RoleMapper.xml" />
		<mapper resource="config/MenuTreeMapper.xml" />
		<mapper resource="config/PageFuncMapper.xml" />
		<mapper resource="config/DepartRoleAssMapper.xml"/>
		<mapper resource="config/PositionRoleAssMapper.xml"/>
	</mappers>
</configuration>